

.mesa1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #555; 
    background: gray !important;
    text-align: left;
    font-size: 10px;
    z-index: 2;
    
    div {
        background: gray !important;
    }

    .item-inner {
        position: absolute;
        z-index: -1;
    }
}

.mesa2 {
    width: 50px; 
    height: 50px; 
    border: 3px solid #555; 
    background: #555 !important;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: left;
    font-size: 10px;
    z-index: 2;

    div {
        background: gray !important;
    }

    .item-inner {
        position: absolute;
        z-index: -1;
    }

}

.mesa3 {
    width: 50px;
    height: 50px;
    border: 3px solid #555; 
    background-color: #555;
    text-align: left;
    font-size: 10px;
    z-index: 2;

    div {
        background: gray !important;
    }

    .item-inner {
        position: absolute;
        z-index: -1;
    }
}


.pared_horizontal {
    height:50%;
    width: 100%;
    bottom: 50%;
    position: absolute;
    margin-top: 0%;
    background-color: #000 !important;
}

.pared_vertical {
    height:100%;
    width: 50%;
    position: absolute;
    margin-top: 0%;
    background-color: #000 !important;
   }
 
.matrix {
    margin-top: 20px;
 
/*     ion-col {
        --ion-grid-column-padding: 0px;
        min-height: 150px;
    } */
 
    .list {
        padding: 0px;
        height: 100%;
    }
 
    ion-item {
        margin-bottom: 2px;
    }
}
 
.q-header {
    background-color: var(--ion-color-light);
    height: 20px;
    text-align: center;
}
 
.area {
    border: 2px dashed var(--ion-color-medium);
    margin: 10px;
    height: 100px;
/*     ion-icon {
       font-size: 64px;
    }

    .delete {
        margin: 3px;
    } */
}


.cell-class {
    height: 40px;
  }

  .delete-area {
    width: 40px;
    border: 2px dashed var(--ion-color-medium);
    margin: 10px;
    height: 100px;
    ion-icon {
       font-size: 64px;
    }
}