
<ion-content class="container">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="10">
        <ion-segment scrollable [(ngModel)]="segment" >
          <ion-segment-button *ngFor="let cuarto of cuartos" value={{cuarto}}>
            <ion-label>{{cuarto}}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col size="2">
        <ion-button id="open-modal-add-cuartos" color="success">+</ion-button>
        <ion-button  color="success" color="danger" (click)="eliminarCuarto()"><ion-icon name="trash" ></ion-icon></ion-button>
        
      </ion-col>
      
    </ion-row>
  </ion-grid>

  <div *ngFor="let cuartos of cuartos">

  </div>

  <div [ngSwitch]="segment">
    <div *ngFor="let cuarto of cuartos">
      <div *ngSwitchCase="cuarto" >

        <div   width=100%;  style="height:'400px'; background-color: #ebeceb ; overflow: scroll; height: xyz;" class="container" #scrollMe [scrollTop]="scrollMe.scrollHeight">
          <div  *ngFor="let item of listaElementos">

            <div *ngIf="item.segment==cuarto" 
              [id]="item.id"
              [ngClass]="[item.opcion, item.estado]"
              cdkDrag
              cdkDragBoundary=".container"
              (cdkDragEnded)="onDragEnded($event, item)"
              [cdkDragFreeDragPosition]="item.posicion"
              (click)="presentActionSheet(item)"
              >
              <label>{{item.nombre}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div [ngSwitch]="segment">
    <ion-fab  id="open-modal" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Adicionar elemento</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <ion-item>
          <ion-label>Escoger</ion-label>
          <ion-select [(ngModel)]="selectedQuadrant">
            <ion-select-option value="mesa">Mesa</ion-select-option>
            <ion-select-option value="pared">Pared</ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngIf="selectedQuadrant=='mesa'">
          <ion-item >
            <ion-label >Nombre de la mesa:</ion-label>
            <ion-input [(ngModel)]="todo.nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Tipo de la mesa:</ion-label>
            <ion-select [(ngModel)]="opcionElemento">
              <ion-select-option value="mesa1">Mesa pequeña</ion-select-option>
              <ion-select-option value="mesa2">Mesa grande</ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <div *ngIf="selectedQuadrant=='pared'">
          <ion-item>
            <ion-label>Escoja pared</ion-label>
            <ion-select [(ngModel)]="opcionElemento">
              <ion-select-option value="pared_horizontal">Horizontal</ion-select-option>
              <ion-select-option value="pared_vertical">Vertical</ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <ion-button expand="block" fill="outline" (click)="addTodo()">
          <ion-icon name="add" slot="start"></ion-icon>
          Adicionar
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal trigger="open-modal-add-cuartos" #openModal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Adicionar Cuarto</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
          <ion-item >
            <ion-label >Nombre del cuarto:</ion-label>
            <ion-input [(ngModel)]="cuarto"></ion-input>
          </ion-item>

        <ion-button expand="block" fill="outline" (click)="addTodo()">
          <ion-icon name="add" slot="start"></ion-icon>
          Adicionar
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
 
 
</ion-content>
